@utility rich-text {
  margin: 1rem;
  font-size: 14px;

  & > * {
    line-height: 150%;
  }

  &:focus-visible {
    outline: none;
  }

  & :first-child {
    margin-top: 0;
  }

  & ul {
    padding: 0 1rem;
    margin: 1.25rem 0rem 1.25rem 0.4rem;
    list-style: initial;
  }

  & ol {
    padding: 0 1rem;
    margin: 1.25rem 0rem 1.25rem 0.4rem;
    list-style: decimal;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.1;
    text-wrap: pretty;
    font-weight: 600;
    margin: 1rem 0rem;
  }

  & h1,
  & h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: 1rem;
  }

  & h1 {
    font-size: 1.4rem;
  }

  & h2 {
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.1rem;
  }

  & h4,
  & h5,
  & h6 {
    font-size: 1rem;
  }

  & code {
    background-color: var(--accent);
    border-radius: 0.4rem;
    color: var(--accent-foreground);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  & p + p {
    margin-bottom: 0.5rem;
  }

  & p:empty::after {
    content: "\00A0";
  }

  & pre {
    background: var(--accent-foreground);
    border-radius: 0.5rem;
    color: var(--accent);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }

  & pre code {
    background: none;
    text-wrap: wrap;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  & blockquote {
    border-left: 3px solid var(--primary);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  & hr {
    border: none;
    border-top: 1px solid var(--foreground);
    margin: 1rem 0;
  }

  & table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

  & table td,
  & table th {
    border: 2px solid #ced4da;
    box-sizing: border-box;
    min-width: 1em;
    padding: 3px 5px;
    position: relative;
    vertical-align: top;
  }

  & table td > *,
  & table th > * {
    margin-bottom: 0;
  }

  & table th {
    background-color: #f1f3f5;
    font-weight: bold;
    text-align: left;
  }

  & ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
  }

  & ul[data-type="taskList"] li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  & ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
  }

  & ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
  }

  & ul[data-type="taskList"] li > label input[type="checkbox"] {
    top: 0;
  }

  & > ul > li + li,
  & > ol > li + li {
    margin-top: 0.5rem;
  }

  & li li + li {
    margin-top: 0.25rem;
  }

  & p.is-editor-empty:first-child::before {
    color: var(--muted-foreground);
    font-size: 0.875rem;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
